absl-py==1.2.0
accessible-pygments==0.0.4
aiohttp==3.8.1
aiosignal==1.2.0
alabaster==0.7.13
alembic==1.8.1
antlr4-python3-runtime==4.9.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.5
astunparse==1.6.3
async-timeout==4.0.2
attrs==22.1.0
autopage==0.5.1
Babel==2.12.1
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==5.0.1
blis==0.7.9
cachetools==5.2.0
catalogue==2.0.8
certifi==2022.6.15
cffi==1.15.1
charset-normalizer==2.1.0
click==8.1.3
cliff==3.10.1
cmaes==0.8.2
cmd2==2.4.2
cmdstanpy==1.0.8
colorama==0.4.6
colorlog==6.6.0
confection==0.0.4
convertdate==2.4.0
cycler==0.11.0
cymem==2.0.7
debugpy==1.6.2
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.6
distlib==0.3.6
docutils==0.17.1
EasyProcess==1.1
entrypoint2==1.1
entrypoints==0.4
ephem==4.1.3
executing==0.9.1
fastai==2.7.12
fastcore==1.5.29
fastdownload==0.0.7
fastjsonschema==2.16.1
fastprogress==1.0.3
filelock==3.12.0
flatbuffers==1.12
fonttools==4.34.4
frozenlist==1.3.0
fsspec==2022.7.1
future==0.18.2
gast==0.4.0
ghp-import==2.1.0
google-auth==2.9.1
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
greenlet==1.1.2
grpcio==1.47.0
h5py==3.7.0
hijri-converter==2.2.4
holidays==0.16
idna==3.3
imagesize==1.4.1
imbalanced-learn==0.10.1
importlib-metadata==6.6.0
ipykernel==6.15.1
ipython==8.4.0
ipython-genutils==0.2.0
ipywidgets==7.7.1
jedi==0.18.1
Jinja2==3.1.2
joblib==1.2.0
jsonschema==4.9.0
jupyter-book==0.15.1
jupyter-cache==0.6.1
jupyter-client==7.3.4
jupyter-core==4.11.1
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.1
keras==2.9.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.4
korean-lunar-calendar==0.3.1
langcodes==3.3.0
latexcodec==2.0.1
libclang==14.0.6
linkify-it-py==2.0.0
llvmlite==0.40.0
LunarCalendar==0.0.9
Mako==1.2.1
Markdown==3.4.1
markdown-it-py==2.2.0
MarkupSafe==2.1.1
matplotlib==3.5.2
matplotlib-inline==0.1.3
mdit-py-plugins==0.3.5
mdurl==0.1.2
mistune==0.8.4
multidict==6.0.2
multiprocess==0.70.14
murmurhash==1.0.9
myst-nb==0.17.2
myst-parser==0.18.1
nbclient==0.6.6
nbconvert==6.5.0
nbformat==5.4.0
nest-asyncio==1.5.5
notebook==6.4.12
numba==0.57.0
numpy==1.23.1
oauthlib==3.2.0
omegaconf==2.2.3
onnx==1.12.0
opt-einsum==3.3.0
optuna==2.10.1
packaging==21.3
pandas==1.4.3
pandocfilters==1.5.0
parso==0.8.3
pathy==0.10.1
patsy==0.5.2
pbr==5.9.0
pickleshare==0.7.5
Pillow==9.2.0
platformdirs==3.5.0
plotly-geo==1.0.0
preshed==3.0.8
prettytable==3.3.0
prometheus-client==0.14.1
prompt-toolkit==3.0.30
prophet==1.1.1
protobuf==3.19.4
psutil==5.9.1
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybtex==0.24.0
pybtex-docutils==1.0.2
pycparser==2.21
pydantic==1.10.7
pydata-sphinx-theme==0.13.3
pyDeprecate==0.3.2
Pygments==2.12.0
PyMeeus==0.5.11
pyparsing==3.0.9
pyperclip==1.8.2
pyreadline3==3.4.1
pyrsistent==0.18.1
python-dateutil==2.8.2
pytorch-forecasting==0.10.2
pytorch-lightning==1.6.5
pyts==0.12.0
pytz==2022.1
pyunpack==0.3
pywin32==304
pywinpty==2.0.6
PyYAML==6.0
pyzmq==23.2.0
requests==2.28.1
requests-oauthlib==1.3.1
rsa==4.9
SALib==1.4.7
scikit-learn==1.1.1
scipy==1.9.0
seaborn==0.11.2
Send2Trash==1.8.0
setuptools-git==1.2
six==1.16.0
sklearn==0.0.post1
smart-open==6.3.0
snowballstemmer==2.2.0
soupsieve==2.3.2.post1
spacy==3.5.2
spacy-legacy==3.0.12
spacy-loggers==1.0.4
Sphinx==5.0.0
sphinx-book-theme==1.0.1
sphinx-comments==0.0.3
sphinx-copybutton==0.5.2
sphinx-jupyterbook-latex==0.5.2
sphinx-multitoc-numbering==0.1.3
sphinx-thebe==0.2.1
sphinx-togglebutton==0.3.2
sphinx_design==0.3.0
sphinx_external_toc==0.3.1
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-bibtex==2.5.0
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==1.4.39
srsly==2.4.6
stack-data==0.3.0
statsmodels==0.13.2
stevedore==4.0.0
tabulate==0.9.0
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow-estimator==2.9.0
tensorflow-gpu==2.9.1
tensorflow-io-gcs-filesystem==0.26.0
termcolor==1.1.0
terminado==0.15.0
thinc==8.1.10
threadpoolctl==3.1.0
tinycss2==1.1.1
torch==1.13.1+cu116
torch-tb-profiler==0.4.0
torchaudio==0.13.1+cu116
torchmetrics==0.9.3
torchvision==0.14.1+cu116
tornado==6.2
tqdm==4.64.0
traitlets==5.3.0
tsai==0.3.6
typer==0.7.0
typing_extensions==4.3.0
uc-micro-py==1.0.1
urllib3==1.26.11
virtualenv==20.23.0
wasabi==1.1.1
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.2.1
wget==3.2
widgetsnbextension==3.6.1
wrapt==1.14.1
yarl==1.8.1
zipp==3.15.0
